@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  height: 40px;
}

.navtext {
  padding: 6px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.css-319lph-ValueContainer {
  height: 42px;
}

.input {
  border: 1px solid #c2bcbc;
  border-radius: 3px;
}