@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  height: 40px;
}

.navtext {
  padding: 6px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.css-319lph-ValueContainer {
  height: 42px;
}

.input {
  border: 1px solid #c2bcbc;
  border-radius: 3px;
}

.active {
  background-color: #0B1428;
}

.active.tab {
  background-color: #F5F5F5;
}

.ql-editor {
  min-height: 7em;
  max-height: 15em;
}

.ql-toolbar {
  border-radius: 5px 5px 0px 0px;
}

.rte {
  border: solid #c0c0c0;
  border-radius: 0px 0px 5px 5px ;
  border-width: 1px;
  border-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

.card.ql-editor {
  min-height: 1rem;
  padding: 0px 0px;
}