@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  height: 40px;
}

.navtext {
  padding: 6px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.css-319lph-ValueContainer {
  height: 42px;
}

.input {
  border: 1px solid #c2bcbc;
  border-radius: 3px;
}

.active {
  background-color: #0B1428;
}

.ql-editor {
  min-height: 2.5cm;
}

.ql-container {
  border-radius:  0px 0px 5px 5px;
}
.ql-toolbar {
  border-radius: 5px 5px 0px 0px;
}